/*--------------------------------------------------------------
# main-footer
--------------------------------------------------------------*/
.main-footer{
  padding: 30px 0px;
  text-align: center;
  p{
    font-size: 14px;
  }
}
